@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --light: #ffffff;
  --gray: #808080;
  --dark: #2e2f42;
  --accent: #4E75FF;
  --accent-hover: #6C8CFF;
}